.preloader {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(#7d2ae8, whitesmoke, rgb(238, 231, 231)) ;
      z-index: 9999;
      flex-direction: column;
      transition: opacity 1s ease, visibility 1s ease;
    }

    .container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90%;
    }

    .circle {
      position: absolute;
      width: calc(var(--i) * 2.5vmin);
      aspect-ratio: 1;
      border: 3px solid rgb(30, 155, 180);
      border-radius: 20%;
      background-color: transparent;
      transform-style: preserve-3d;
      transform: rotateX(70deg) translateZ(50px);
      animation: animate 3s ease-in-out infinite;
      animation-delay: calc(var(--i) * 0.08s);
      box-shadow: 0 0 10px rgb(9, 129, 156);
    }

    @keyframes animate {
      0%, 100% {
        transform: rotateX(70deg) translateZ(50px) translateY(0);
        filter: hue-rotate(0);
      }
      50% {
        transform: rotateX(70deg) translateZ(50px) translateY(-50vmin);
        filter: hue-rotate(180deg);
      }
    }

    .name {
      opacity: 0;
      font-size: 2rem;
      letter-spacing: 2px;
      color:#7d2ae8;
      text-shadow: 0 0 2px rgb(21, 157, 202);
      margin-top: 1rem;
      animation: showName 2s ease forwards;
      animation-delay: 3s; /* aparece após 3s */
    }

    @keyframes showName {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    /* Oculta o preloader depois */
    .preloader.hide {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }