@media screen and (max-width:900px) {
    header .nav-conteiner{
        display: none;
    }
      
.openMobile{
  display: block;

}
    
  .hero-site{
    flex-direction: column;
    padding: 0.5rem;
     margin-top: 4rem;

}

.conteiner-about {
  
  height: 145vh;
}
 

.project-card {
  flex-direction: column;
}
.conteiner-projects{
  height: 150vh;

}
}



/* Responsividade */
@media (max-width: 768px) {
 
  
.conteiner-about-me{
    flex-direction: column;
}

  .conteiner-mat {
    height: 40vh; /* imagem ocupa só parte da tela no mobile */
    border-radius: 8px;
  }
  .title{
    font-size: 1rem;
  }

  .conteiner-mat-des h1 {
    font-size: 2rem; /* menor no tablet/celular */
    text-align: center;
  }
  
}


  

@media (max-width: 480px) {
  
  .conteiner-mat-des h1 {
    font-size: 2rem;
  }
}
