@media screen and (max-width:900px) {
    .navbar{
        display: none;
    }
      

.OpenMobile{
  display: block;
}
.home{
    flex-direction: column; 
    justify-content: center;
    gap: 1rem;
  }
.home-content h1{
  font-size: 24px;
}

.home-content h3{
  font-size: 20px;
}


.home-content p {
  
  font-size: 12px;
  
}


.home-content .btn-box{
  display: none;
}

.about-content p{
  font-size: 12px;

}
.about-content{
  flex-direction: column;
}

.home-img .img-box{
  width: 40vw;
  height:40vw;
}

.skill{
  height: 120vh;
  
}
.skill-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  
}

.content-projects .card-projects{
  
  
  width: 350px;
  height: 160px;

  

}




.content-projects{
flex-direction: column;
align-items: center;
justify-content: center;
  
}
.skill-content .card img {
        width: 30px;
        height: 40px;
      }


 .projects{
  
      height: 150vh;
  
}
}




/* Responsividade */
@media (max-width: 768px) {
 
  
.conteiner-about-me{
    flex-direction: column;
}

  .conteiner-mat {
    height: 40vh; /* imagem ocupa só parte da tela no mobile */
    border-radius: 8px;
  }
  .title{
    font-size: 1rem;
  }

  .conteiner-mat-des h1 {
    font-size: 2rem; /* menor no tablet/celular */
    text-align: center;
  }
  
}


  

@media (max-width: 480px) {
  
  .conteiner-mat-des h1 {
    font-size: 2rem;
  }
}
